:root {
    --navy-blue: #03045E;
    --dark-cornflower-blue: #023E8A;
    --star-command-blue: #0077B6;
    --blue-green: #0096C7;
    --carulean-crayola: #00B4D8;
    --sky-blue-crayola: #48CAE4;
    --sky-blue: #90E0EF;
    --blizzard-blue: #ADE8F4;
    --powder-blue: #CAF0F8;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--blue-green);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    width: 100vw;
    height: 70px;
    color: white;
    font-size: 1.2rem;
}
.header__navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.header__logo {
    font-size: 1.5rem;
    padding-left: 15px;
}
.header__navbar ul {
    list-style: none;
    text-decoration: none;
}
.header__navbar a {
    text-decoration: none;
    color: white;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.main img {
    width: 90%;
}
.main h1 {
    margin: 10px;
}
.main p {
    margin: 0;
    margin-left: 10px;
    text-decoration: underline;
}
