:root {
    --navy-blue: #03045E;
    --dark-cornflower-blue: #023E8A;
    --star-command-blue: #0077B6;
    --blue-green: #0096C7;
    --carulean-crayola: #00B4D8;
    --sky-blue-crayola: #48CAE4;
    --sky-blue: #90E0EF;
    --blizzard-blue: #ADE8F4;
    --powder-blue: #CAF0F8;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--blue-green);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    width: 100vw;
    height: 45px;
    background-color: var(--dark-cornflower-blue);
    color: white;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
}
.plankton {
    width: 80px;
    height: 80px;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 50%;
    background-image: url('../assets/plankton.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.main img {
    width: 90%;
    max-width: 768px;
}
.main h1 {
    margin: 15px;
}
.main p {
    margin: 0;
    margin-left: 10px;
    text-decoration: underline;
}
